.space
  .ship
    .ship-rotate
      .pod
      .fuselage
  .ship-shadow
  .mars
    .tentacle
    .flag
      .small-tentacle
    .planet
      .surface
      .crater1
      .crater2
      .crater3
  
  .test
  

  
  <h1 style=" font-size: 48px; color: white; font-family: Lucida Sans"> Mars colonization </h1>
   <a href="intro"><button type="button">Intro </button></a>
   <a href="info"><button type="button" style="position: absolute; left: 50%;">INFO</button></a>
   <a href="plans"><button type="button" STYLE="position: absolute; left: 61%;">PLANS</button><a>
   
   <a href="why-mars"><button type="button" style="position: absolute; left: 38%; width: 500px; top:80%;">Why Mars?</button></a>
   
   
   
   
   
  