@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Oxygen:300');
* {
  box-sizing: border-box;
  background-image: url("")
}
body {
  background-image: url("http://wallpapercave.com/wp/xTkHBfj.jpg");
  margin: 0;
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  color: #fff;
}
#marsloc {
  cursor: grab;
}
#marsinfo { 
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
}
#marsinfo h1 {
  font-size: 8vw;
  margin-top: 0;
  font-weight: 100;
  line-height: 1;
  position: absolute;
}
#marsinfo div {
  width: 40%;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  right: 0;
  padding: 1.3rem;
  line-height: 1.6;
  font-size: 1.2rem;
  pointer-events: none;
  @media all and (max-width: 540px) {
    width: 100%;
    left: 0;
    top: 40vw;
  }
}
.center-element {
  text-align: center;
}
.main-button {
  position: absolute;
  right: 50%;
  top: 90%;
  padding: 14px;
  width: 210px;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: white;
  font-weight: bold;
  transition: background-color 0.5s, color, 0.5s, 1s
}
.main-button:hover {
  background-color: white;
  color: black;
  // transform: rotate(5deg)
}